# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.exec
*.out
*.app

# Experimental data files
*.dat
Data
data

# Auto save files of Emacs
.[#]*[#]
\#*\#
.\#*

# MICO exmaples
*.cproject
*.project
.metadata
*.mk
*.d

# for cmake
build

# etc
.ipynb_checkpoints
*.png
*.pyc
flycheck*.py
*.csv

